
.footer-conteiner{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 10px;
    outline: 3px solid black;
    background:rgba($color: rgb(12, 12, 12), $alpha: .6);
}

.footer-box{
    & h3{
       margin: 5px;
    }
}

.icon{
    width: 50px;
    padding: 2px;
    margin: 0 20px 0 20px;
    transition: all .4s ease;

    &:hover{
        transform: scale(1.4);
    }
}
