.navbar-icon{
    padding: 1px;
    z-index: 10;
    position: fixed;
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    background:rgba($color: rgb(12, 12, 12), $alpha: .6); 
    justify-content: center;
    align-items: center;
    background-color: $dark-grey;
    display: none;
    right: 10px;
    width: 70px;
    height: 50px;
    cursor: pointer;

    & img{
        width: 45px;
    }   
}

.visible{
    visibility: hidden;
}

@media screen and (max-device-width:400px) {
    
    *{
        & h1{
            font-size: 20px;
        }
        & h2{
            font-size: 25px; 
        }
        & h3{
            font-size: 14px; 
        }
        overflow-x: hidden;
    }

    body{
        width: 100vw;
    }

    .hover{
        &:hover{
            background: none;
        }
    }

    .image-face{
        margin: none;
        padding: none;
        width: 260px !important;
    }

    .btn{
        font-size: 13px;
        padding: 5px 10px !important;
    }
    //background

    .background{
        right: -500px;
        width: 2500px !important;
        height: 2300px !important;
    }

    .background-blur{
        right: -500px;
        width: 2500px !important;
        height: 2300px !important;
    }

    //navbar

    .navbar-icon{
        display: flex !important;
    }

    .close{
        display: flex !important;
        position: absolute;
        right: 15px ;
        top: 15px ;
    }

    .navbar{
        
        transition: .7s;
        display: flex !important;
        flex-direction: column;
        border-radius: 0px !important;
        width: 100vw !important;
        height: 50vh !important;
        top:-600px;
        left:0;
    }

    .show-navbar{    
        top:0;
    }

    //container

    .conteiner{
        width: 80vw;
        height: 70vh;
    }
    

    //home

    .home-conteiner{
        display: flex;
        flex-direction: column;
        padding: 20px !important;
    }

    .home-box{
        & h3{
            margin-top: 5vh !important;
        }
        & img{
            display: none;
        }
    }

    //about me

    .aboutme-conteiner{
        height: 600px;
         & h1{
            
            margin-left: 40px ;
         }
    }

    .aboutme{
        & h3{
            font-size: 9px;
        }
    
    }


    //skills

    
    .skills-conteiner{
        height: 600px;
        & div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        & h3,h2,h1 {
            margin: 10px !important;
        }

        & h3{
            font-size: 10px;
        }
    }

    .skills-image{
        // height: 120px;
        width: 90px !important;
        margin: 0.5vw;

        & img{
            width: 90px !important;
            height: 50px !important;
        }
        
    }

    //contact

    .contact-conteiner{
        padding: 10px !important;
        height: 470px;
    }
    .contact-form{
        width: 100% !important;
        padding: 0px !important;
        
        & input,textarea{
            font-size: 15px !important;
        }
    
        & textarea{
            font-size: 15px !important;
            height: 190px !important;
            padding: 5px 5px 5px 5px !important;
        }
    }
    
    
    .contact-item{
        margin: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 4px;
        outline: none;
    }
    
}