.home{
    justify-content: space-evenly;

    h3{
        border-top: 2px solid white;
        margin-top: 10px;
        padding-top: 10px;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: space-around;
    }
}

.button-cv{
    margin-bottom: 20px;
}

.face{
    width: 300px;
}

.icon{
    width: 80px;
}
